
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>ReviewSpace</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="wNhoCSnfPJrFJgpgybAR5p4Bg/33N3hxGah24xG//+2JqXGDe1oXKRcNSXgweFO6r2r3JTVA1cWcRETnnAKMtw==" />
  <link rel="stylesheet" media="all" href="/assets/application-c617cd3cc56ea5db583836527c3a19ec935e32bc3e23710c957791a1d7ac6c38.css" />
  <script src="/javascripts/application.js"></script>
</head>
<body>
  <div class='notification'>
    <div class="notice">チャットグループが作成されました。</div>
  </div>

  <div class='chat-side'>
    <div class='chat-side__user'>
      <div class='chat-side__user-content'>
        <div class='chat-side__user-name'>
          kage
        </div>
        <a class="chat-side__user--new-group" href="/groups/new"><i class='fa fa-pencil-square-o'></i>
        </a><a class="chat-side__user--edit-user" href="/users/edit"><i class='fa fa-cog'></i>
        </a></div>
      </div>
      <div class='chat-side__groups'>
        <div class='chat-side__groups-list'>
          <a href="/groups/1536/messages"><div class='chat-side__group'>
            <div class='chat-side__group-name'>
              test
            </div>
            <div class='chat-side__group-message'>
              メッセージ
            </div>
          </div>
        </a><a href="/groups/1535/messages"><div class='chat-side__group'>
          <div class='chat-side__group-name'>
            test2
          </div>
          <div class='chat-side__group-message'>
            aaa
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class='chat-main'>
  <div class='chat-main__header'>
    <div class='chat-main__header--group clearfix'>
      <div class='chat-main__header--group-name'>
        TEST
      </div>
      <a class="chat-main__header--group-edit-btn" href="/groups/1535/edit">edit
      </a></div>
      <div class='chat-main__header-members clearfix'>
        MEMBER:
        <i>
          kage
        </i>
      </div>
    </div>
    <div class='chat-main__body'>
      <div class='chat-main__body--messages-list'>
        <div class='chat-main__message clearfix' data-id='2636'>
          <div class='chat-main__message-name'>
            kage
          </div>
          <div class='chat-main__message-time'>
            2018/10/23 14:11:14
          </div>
          <div class='chat-main__message-body'>
            こんにちは
            <img class="chat-main__message-body-image" src="" />
          </div>
        </div>

      </div>
    </div>
    <div class='chat-main__footer'>
      <form class="chat-main__footer-form" id="new_message" enctype="multipart/form-data" action="/groups/1535/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="p/d2TPJgcoIXPY3nMO//YTfmuYFdnZcxsvAIkgVcL3ruhm/GoOVZMcUWzv/JJ709Bo3NWZ/qOoU3HDqWiOFcIA==" /><div class='chat-main__footer-body'>
        <input placeholder="type a message" class="message" type="text" name="message[body]" id="message_body" />
        <label class="chat-file" for="message_image"><input class="image" type="file" name="message[image]" id="message_image" />
          <i class='fa fa-image'></i>
        </label></div>
        <input type="submit" name="commit" value="Send" class="submit" data-disable-with="Send" />
      </form>
    </div>
  </div>

</body>
</html>
