
.notice {
  color: #fff;
  background-color: #38AEF0;
  text-align: center;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
}
.chat-side__user {
  height: 15%;
  width: 100%;
  background-color: #253141;
  position: relative;
}
.chat-side__user-content {
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.chat-side__user-name {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  position: relative;
  display: inline-block;
}
.chat-side__user--new-group {
  color: #fff;
  margin-left: 150px;
  position: relative;
  display: inline-block;
}
.fa {
  color: #fff;
  display: inline-block;
  /*font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
/*.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}*/
.chat-side__user--edit-user {
  padding: 0 10px;
}
.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

.chat-side__groups {
  height: 85%;
  width: 100%;
  background-color: #2f3e51;
  .chat-side__groups-list {
  height: 100%;
  color: #fff;
  .chat-side__group {
  padding: 20px;
  .chat-side__group-name {
  color: #FFFFFF;
  font-size: 15px;
  }
  .chat-side__group-message {
    color: #FFFFFF;
    font-size: 11px;
    padding: 5px 0;
  }
}
}
}


.chat-main {
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
}
.chat-main__header {
  height: 15%;
  border: 1px solid #eeeeee;
}
.chat-main__header--group clearfix {
  margin: 0 40px;
}
.chat-main__header--group-name {
  color: #333333;
  font-size: 20px;
  margin: 35px 40px 15px;
  float: left;
}
.chat-main__header--group-edit-btn {
  color: #38AEF0;
  font-size: 15px;
  padding: 12.5px 20px;
  margin: 28px 20px 0;
  border: 2px solid #38AEF0;
  float: right;
}
.chat-main__header-members {
  color: #999999;
  font-size: 12px;
  margin: 0 40px;
}
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}



.chat-main__body {
  height: calc( 100vh - 15% - 90px );
  overflow-y: scroll;
}
.chat-main__body--messages-list {
  padding-top: 40px;
  padding-left: 40px;
}
.chat-main__message clearfix {
  padding: 20px 0;
}
.chat-main__message-name {
  color: #434A54;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.chat-main__message-time {
  color: #999999;
  font-size: 12px;
  padding: 0 10px 10px;
  float: left;
}
.chat-main__message-body {
  color: #434A54;
  font-size: 14px;
  clear: both;
}
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}



.chat-main__footer {
  height: 90px;
  width: 100%;
  background-color: #B8C3C7;
  .submit {
  color: #fff;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #38AEF0;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
}
.chat-main__footer-form {
  margin: 0 40px;
  position: relative;
}
.chat-main__footer-body {
  position: relative;
.chat-file {
  height: 50px;
  width: 40px;
  margin: 32px 100px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
}
.message {
  height: 50px;
  width: calc( 100% - 130px );
  padding: 0px 10px;
  margin: 20px 0;
  border: none;
}
.chat-file .image {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
}
.fa {
    color: #434A54;
    display: inline-block;
    /*font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}
/*.fa-photo:before, .fa-image:before, .fa-picture-o:before {
    content: "\f03e";
}*/
}















